*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h2-about{
  margin-bottom: 5vh;
}
body{
  background-image: url(fundo.avif);
  background-size: cover;
}
.p-about{
  line-height: 1.5em;
}
header{
  justify-content: center;
  display: flex;
}
.header{
  height: 20vh;
  width: 90%;
  margin-top: 25px;

  padding: 20px 0;
  background-color: #f0f0f0;
}
.titulo{
  font-size: 3rem;
  color: #291B62;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.menu{
  padding-top: 30px;
  text-align: center;
}

.main{
  display: flex;
  justify-content: center;
}
.menu a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}
.img-logo{
  width: 500px;
}

.menu a:hover{
  color: #575656;
}
.imagem-home{
  margin-top: 25px;
  width: 50vw;
}

.main-all{
  text-align: center;
  width: 90%;
  height: 75vh;
  background-color: #f0f0f0;
  grid-template-columns: 50% 50%;
  display: grid;
}


.section-left{
  grid-column: 1/2;
  align-self: center;
  margin-left: 8vw;
}
.section-right{
  grid-column: 2/2;
}

.main-gastro {
  background-image: url(cardapio.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}
.main-gastro-all{
  
  display: grid;
  width: 90vw;
  text-align: center;
  grid-template-columns: auto auto auto;

}
.imagem-prato{
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
.div-gastro{
  margin: 20px;
  border: 1px solid #000;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
  display: flex;
  color: #f0f0f0;
  text-shadow: 2px 1px #000;
  font-weight: 800;
  backdrop-filter: blur(10px);
  width: 80vw;
}
.p-gastro{
  width: 50vw;
  text-align: center;
}
.div-comida{
  text-align: center;
}
.h2-comida{
  margin-bottom: 5vh;
}